{% extends "layout.html" %}
{% block title %}About This App{% endblock %}
{% block content %}
  <h1>About IT@JCU Flask Demo</h1>
  <p>This is a simple Flask application built to demonstrate web development concepts for IT@JCU students.</p>
  <p>It uses the Wikipedia API to fetch page summaries based on user searches, Jinja2 templating for dynamic HTML, and Flask for routing and session management.</p>
  <p>Template provided by the generous and great Mr. Lindsay</p>
  <p>Created by QiJunyi. Check out the <a href="https://github.com/JasonEran/flaskdemo">source code on GitHub</a>.</p>
{% endblock %}